.container {
  width: 100%;
  max-width: 580px;
}

.orders-board-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 36px;
}

.orders-board-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.orders-board-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 152px;
  overflow-y: hidden;
}

.orders-board-item__type_done {
  color: #00CCCC;
}

.orders-total-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

